@model ExperienceViewModel
@{
    ViewBag.Title = "Experience";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
}
<div class="col-md-6 offset-md-3">
    <div class="card card-body bg-light">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="ArtistRole">Artist Role</label>
                <input asp-for="ArtistRole" class="form-control" />
                <span asp-validation-for="ArtistRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate">Start Date</label>
                <input type="date" asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate">End Date</label>
                <input type="date" asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleDescription">Role Description</label>
                <textarea rows="4" asp-for="RoleDescription" class="form-control"></textarea>
                <span asp-validation-for="RoleDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactEmail">Contact Emal</label><br />
                <input type="email" asp-for="ContactEmail" class="form-control" />
                <span asp-validation-for="ContactEmail" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="PrivatePublic">Private / Public</label>
                <input type="checkbox" asp-for="PrivatePublic" class="form-control" />
                <span asp-validation-for="PrivatePublic" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <button type="submit" class="btn btn-primary">@*<i class="fas fa-envelope"></i> *@Save</button>
                <div class="text-success">@ViewBag.UserMessage</div>
            </div>
        </form>
    </div>
</div>